.app {
    margin:5.5%;
    .card {
      background-color: #C2D9F4;
      .card-title {
        text-align: center;
        background-color: #2980B9 ;
      }
      img {
        width: 100%;
        height: auto;
        margin: 2px;
        padding: 2%;
      }
      button {
        width:100%;
        background-color: #DE8C69;
      } 
    }
  }
  